<div class="container">
    <h1><i>Autografo Inno alla sua donna (Gigantografia)</i><br><button class="button" (click)="goBack()"
            style="vertical-align:middle"><span>
                <mat-icon>arrow_back</mat-icon>
            </span></button></h1>
    <img class="card-img-top" style="width: 300px;margin-bottom: 30px;"
        src="assets\images\La torre del passero solitario sovrasta il chiostro di S. Agostino_IGP1035 copia_DxOFP.jpg"
        alt="Card image cap">

    <div class="map-container" #map></div>

    <div class="text">

        Dopo la tappa di San Vito riprendiamo via Roma che termina pochi metri più avanti allorché voltando a sinistra
        si fiancheggia la maestosa chiesa di Sant’Agostino, fino a giungere nell’angusto piazzale antistante l’ingresso
        della chiesa. Davanti a noi si staglia la torre dell’acquedotto comunale scambiata dai più per la

        <a data-toggle="collapse" href="#multiCollapseExample1" aria-expanded="false"
            aria-controls="multiCollapseExample1">Torre del passero solitario</a>
        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <img style="width: 300px;"
                src="assets\images\La torre del passero solitario sovrasta il chiostro di S. Agostino_IGP1035 copia_DxOFP.jpg">
        </div>
    </div>
</div>